base(href='/')

//- Title
title= title

//- Metadata
include head/meta

//- Android manifest
link(rel='manifest', href='/assets/manifest.json')

//- Webapp icons
include head/icons

//- Styles
include head/styles
