//- Import the Socket.IO's client library
script(src='socket.io/socket.io.js')

//- Import other libraries like 'moment' here

//- Import Angular and it's dependencies
script(src='packages/system.js')
script(src='config.js')
script(src='client.js')
