//- Import the Socket.IO's client library
script(src='/socket.io/socket.io.js')

//- Import other libraries like 'moment' here

//- Import Angular and it's dependencies
script(src='/components/angular/angular.js')
script(src='/components/angular-route/angular-route.min.js')
script(src='/components/ng-file-upload/angular-file-upload.min.js')

//- Import the angular application client script
script(src='/scripts/client.min.js')
