nav.sidebar.hidden-sm(class='{{ (session.user && session.workplace) && "open" || "open" }}', ng-controller='Sidebar')
    a(ng-href='/worktable/ongoing')
        span.caret(ng-show='location === "/worktable/ongoing"')
        i.fa.fa-2x.fa-desktop
        span.text Dashboard

    a(ng-href='/worktable/sent')
        span.caret(ng-show='location === "/worktable/sent"')
        i.fa.fa-2x.fa-camera
        span.text Rooms

    a(ng-href='/worktable/waiting')
        span.caret(ng-show='location === "/worktable/waiting"')
        i.fa.fa-2x.fa-calendar
        span.text Scheduller

    a(ng-href='/sics/create')
        span.caret(ng-show='location === "/sics/create"')
        i.fa.fa-2x.fa-area-chart
        span.text Analytics