body {
  background-color: lightgrey;
}

main,
main-footer,
main-navbar {
  display: block;
}

main {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  padding-top: 1em;
}
