- var err = {};
- err.status = (error && error.status ? error.status : 500);
- err.message = (error && error.message ? error.message : "Something bad happened...");
- err.stack = (error && error.stack ? error.stack : "No aditional information is available.");

doctype html

html(lang='es')

    head
        title #{err.message}

        link(rel='stylesheet', href='/styles/styles.min.css')

    body.container-fluid
        h1
            strong #{err.status}
            |  - #{err.message}

        pre #{err.stack}
