doctype html

//- You may want to comment the manifest attr while developing
//html(
//  manifest='/appcache.mf',
//  ng-app='App',
//  lang='en')
  
html(
  ng-app='App',
  lang='en')

  head
    include ./elements/head

  body
    //- Navbar
    include ./elements/navbar

    main
      //- Flash messages
      include ./elements/flash
      
      //- Angular viewport
      div.container-fluid(ng-view)

    //- App scripts
    include ./elements/scripts
