.jumbotron
  .container
    h1 Este contenido está restringido
    p Error 403

.container.padding-bottom-large.text-center
  p.fa-stack.fa-5x
    i.fa.fa-stack-2x.fa-circle
    i.fa.fa-stack-1x.fa-minus-circle.fa-inverse

  p.lead Prueba #[a(ng-href='/providers/sign-in') iniciando sesión] para ver este contenido.

  a.btn.btn-link.btn-lg(ng-href='/')
    | Volver al inicio
