div.col-md-4.col-md-offset-4
    alert(type='warning') Por favor inicia sesión para acceder a esta sección.

    p.text-center
        a.btn.btn-link(ng-href='/')
            i.fa.fa-sr.fa-chevron-left
            |Volver
