.jumbotron
  .container
    h1 Parece que te has perdido
    p Error 404

.container.padding-bottom-large.text-center
  p.fa-stack.fa-5x
    i.fa.fa-stack-2x.fa-circle
    i.fa.fa-stack-1x.fa-road.fa-inverse

  p.lead La dirección que solicitaste no lleva a ningun contenido

  a.btn.btn-link.btn-lg(ng-href='/')
    | Volver al inicio
