h4
    i.fa.fa-sr.fa-clipboard
    |Solicitud

p.text-strong Hipótesis
p {{ sic.body.diagnosis.hypothesis }}

p.text-strong Diagnosticos
ul
    li(ng-repeat='diagnosis in sic.body.diagnosis.diagnoses') {{ diagnosis }}

p.text-strong Exámenes
ul
    li(ng-repeat='exam in sic.body.exams') {{ exam.name }}:
        br
        |{{ exam.description }}
