link(rel='stylesheet', href='/assets/components/angular-material/angular-material#{ suffix }.css' )
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')

link(rel='stylesheet', href='/assets/styles/client#{ suffix }.css')
