link(rel='stylesheet', href='#{ components }bootstrap/dist/css/bootstrap#{ suffix }.css' )
link(rel='stylesheet', href='#{ components }angular/angular-csp.css' )

link(rel='stylesheet', href='/assets/styles/client#{ suffix }.css')
