.flash.animate(ng-repeat='flash in list')
  .alert(
    ng-class=`'alert-' + flash.type`,
    ng-click='dismiss($index)')

    i.fa(ng-class=`'fa-' + (icons[flash.type] || 'info-circle')`)
    strong(ng-show='flash.message') {{ flash.title | translate }}
    span(ng-show='flash.message') {{ flash.message | translate }}

    span(ng-hide='flash.message') {{ flash.title | translate }}
