.flash(ng-repeat='flash in list')
  .alert(
    ng-class='"alert-" + flash.type',
    ng-click='dismiss($index)')

    i.fa(ng-class='"glyphicon-" + (icons[flash.type] || "info-circle")')
    strong(translate='{{ flash.title }}')
    span(translate='{{ flash.message }}')
