.flash(
  ng-repeat='flash in list track by $index',
  ng-show='flash.active')

  .alert(
    ng-class='"alert-" + flash.type',
    ng-click='dismiss($index)')

    i.glyphicon(ng-class='"glyphicon-" + (icons[flash.type] || "info-circle")')
    | &ensp;
    strong {{ flash.title }}
    | &ensp;
    | {{ flash.message }}
