.flash(ng-class='{ hidden: hidden }')
  .alert(
    ng-class='"alert-" + (session.flash.type && session.flash.type || "info")',
    ng-click='dismiss()')

    i.glyphicon(ng-class='"glyphicon-" + (icons[session.flash.type] || "info-circle")')
    | &ensp;
    strong {{ session.flash.title }}
    | &thinsp;
    | {{ session.flash.message }}
