footer
  .container
    hr
    p.text-center {{ $root.app.title }} &copy; #{ new Date().getFullYear() }&ensp;
      a(ng-href='http://finaldevstudio.com') Final Development Studio

    p.text-center.text-muted
      | {{ $root.app.name }}:{{ $root.app.version }}-{{ $root.app.stage }}[{{ $root.app.environment }}]
