footer
  .container
    hr
    p.text-center
      | {{ $root.app.title }} &copy; #{ new Date().getFullYear() }&#32;
      a(ng-href='http://finaldevstudio.com') Final Development Studio

    p.text-center.text-muted.text-uppercase
      small {{ $root.app.name }}:{{ $root.app.version }}-{{ $root.app.environment }}
