div.col-md-4.col-md-offset-4
  div.panel.panel-default
    div.panel-heading
      h3.panel-title
        i.fa.fa-fw.fa-life-ring
        |Help is on it's way!

    div.panel-body
      p Keep calm! This section will be available soon!

    div.panel-footer.text-center
      button.btn.btn-primary(ng-click='back()')
        i.fa.fa-chevron-left
        |  Back
