.jumbotron
  .container
    h1
      span(translate='PAGES.FORBIDDEN.TITLE')
      span &hellip;

    h2(translate='PAGES.FORBIDDEN.SUBTITLE')

.container.padding-bottom-large.text-center
  h1.fa.fa-alert

  p.lead(translate='PAGES.FORBIDDEN.BODY')

  pre(ng-if='url')
    code {{ url }}

  hr

  a.btn.btn-default.btn-lg(ng-href='/')
    span(translate='PAGES.FORBIDDEN.BACK')
