div.col-md-4.col-md-offset-4
    div.panel.panel-default
        div.panel-heading
            h3.panel-title
                i.fa.fa-sr.fa-life-ring
                |La ayuda est치 en camino&hellip;

        div.panel-body
            p No desespere. Esta secci칩n estar치 disponible dentro de los pr칩ximos 3 meses.

        div.panel-footer
            button.btn.btn-link(ng-click='back()') Volver
