div.form-group
    div.input-group
        span.input-group-addon
            i.fa.fa-user.fa-pencil

        textarea.form-control(
            ng-model='answerForm.therapeuticPlan',
            type='textarea',
            placeholder="Plan terapéutico",
            rows="10")
