//- Web
link(rel='icon', href='/icons/icon-ldpi.png')
link(rel='shrotuct icon', href='/icons/icon-ldpi.png')

//- Android
link(rel='icon', sizes='36x36', href='/icons/favicon.png')
link(rel='icon', sizes='48x48', href='/icons/icon-mdpi.png')
link(rel='icon', sizes='72x72', href='/icons/icon-hdpi.png')
link(rel='icon', sizes='96x96', href='/icons/icon-xhdpi.png')
link(rel='icon', sizes='128x128', href='/icons/icon-xxhdpi.png')
link(rel='icon', sizes='192x192', href='/icons/icon-xxxhdpi.png')

//- iOS
link(rel='apple-touch-icon', href='/icons/iphone.png')
link(rel='apple-touch-icon', sizes='60x60', href='/icons/iphone.png')
link(rel='apple-touch-icon', sizes='76x76', href='/icons/ipad.png')
link(rel='apple-touch-icon', sizes='120x120', href='/icons/iphone-retina.png')
link(rel='apple-touch-icon', sizes='152x152', href='/icons/ipad-retina.png')
link(rel='apple-touch-icon', sizes='180x180', href='/icons/iphone-6-plus.png')
