extends ../layout

block body
  .container
    if (error)
      .alert.alert-danger
        | #[strong #{ error.status  || 500 }] #{ error.message || "Server error" }

      if (error.stack)
        .well
          pre #{ err.stack }

    else
      .alert.alert-danger
        | #[strong 500] Server error
