extends ../layout

//- View's meta
block meta
  meta(property='og:image', content=`${ host }assets/images/social.png`)
  meta(property='og:title', content='Another MEAN platform')
  meta(property='og:description', content='A boilerplate for applications with Node.js + Express + MongoDB on the backend and AngularJS on the frontend (aka MEAN).')
  meta(property='og:site_name', content='Fi Seed')
  meta(property='og:type', content='website')
  meta(property='og:locale', content='en_US')

//- View's styles
block styles
  link(rel='stylesheet', href=`/assets/styles/client${ suffix }.css`)

//- View's body
block body
  //- Main navbar goes here on this layout
  main-navbar

  //- Angular views go here on this layout
  main(
    autoscroll='true',
    ng-view)

  //- This is the main footer for this layout
  main-footer

//- View's scripts
block scripts
  script(src=`/assets/scripts/client${ suffix }.js`)
